<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alhoda.shefa" >

    <!--android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
    android:versionName="1.0" -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_logo"
        android:label="شفاءالروح"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.alhoda.shefa.MainActivity"
            android:label="شفاء الروح" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.alhoda.shefa.MyReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.alhoda.shefa.NotificationReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.AlertService.intent.action.runService" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.alhoda.shefa.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.alhoda.shefa.NotificationContent"
            android:enabled="true"
            android:exported="true"
            android:label="شفاء الروح"
            android:launchMode="singleTask"
            />

    </application>

</manifest>
